<!doctype html>

<html>
<head>
	<title>onTrack</title>	
	<meta charset="utf-8">	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel='stylesheet' type='text/css'>
	<link href="/css/view.css" rel="stylesheet">  
	<link href="/css/topBar.css" rel="stylesheet">  
	<!--<script type="text/javascript" src="viewRoutine"></script> -->

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>

<body>
	<!-- Main Top Bar -->
	<div class="topBar">
		<a href="\viewRoutineB" id="backButton">back</a>
		<center><h1 id="yourRoutine">Edit</h1></center>

		<div id="backArrow">
				<img src="images/leftArrowGray.png" class="img-responsive"></img>
		</div>
		<!-- button type="button" class="saveButton" onclick="saveRoutine()">save</button -->
	</div>

	<div class="mainBody">
	<form id="updateTasks" role="form" method='get' action='/updateTasks'>
		<center><input id="routineInputbox" name="routName" value="{{this.Name}}"></h1></center>
		<input type="text" class="toHide" id="editIndex" value="{{this.Index}}" name="editIndex">
		<!-- {{!-- <p name="parentRoutine">{{this.Index}}</p> --}} -->
		<p id="taskLength" value="{{this.Tasks}}"></p>
		<center>
		{{# each Tasks}}
			<h3 class="inputTitle">Task:</h3>
			<input id="editInputbox" type="text" name="tempName" value="{{this.name}}"></input>
			<h3 class="inputTitle">Time:</h3>
			<input id="editInputbox" type="number" name="tempTime" value="{{this.time}}"></input>
			<div class="spaceBuffer"></div>
		{{/each}}
		</center>
		<input type="submit" id="saveTaskBtn" name="saveTasks" class="btn btn-default" value="save"></input>
	</form>
  </div>
	<script type="text/javascript">
		$(".toHide").hide()
	</script>
</body>
</html>