<!doctype html>

<html>
<head>
	<title>onTrack</title>	
	<meta charset="utf-8">	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/view.css" rel="stylesheet">  
	<link href="/css/topBar.css" rel="stylesheet">  
	<!--<script type="text/javascript" src="viewRoutine"></script> -->

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
	<!-- Main Top Bar -->
	<a href="\viewRoutineB" id="button">back</a>
	<form id="editTasks" role="form" method='get' action='/editTasks'>
		<div class="form-group">
	    	<input type="text" class="toHide" id="editIndex" placeholder="Description" value="{{this.Index}}" name="editIndex">
	    </div>
		<input type="submit" id="submitBtn" name="task" class="btn btn-default" value="Edit"></input>
	</form>
	<center><h1>{{this.Name}}</h1></center>

	<!-- {{!-- <p name="parentRoutine">{{this.Index}}</p> --}} -->
	<p id="taskLength" value="{{this.Tasks}}"></p>
	{{# each Tasks}}
		<h2> Description: {{this.name}}</h2>
		<h2> Time: {{this.time}} min.</h2>
		<form id="deleteRoutine" role="form" method='get' action='/deleteTask'>
			<div class="form-group">
		      <input type="text" class="toHide" id="parRout" placeholder="Description" value="{{../Index}}" name="parentRoutine">
		      <input type="text" class="toHide" id="taskIndex" placeholder="Description" value="{{@index}}" name="taskIndex">
		    </div>
			<input type="submit" id="submitBtn" name="task" class="btn btn-default" value="Delete"></input>
		</form>
	{{/each}}
	<form id="modifyRoutine" role="form" method='get' action='/modifyTasksB'>
		<div class="form-group">
			<input type="text" class="form-control" id="curName" placeholder="Name" name="tempName">
			<input id="curTime" name="tempTime" class="timeIn" type="number" ></input>
					<p> <span class="min">min.</span></p>
		</div>
		<div class="form-group">
			<input type="text" class="toHide" id="stayOnPage" name="stayOnPage" value="true">
			<input type="text" class="toHide" id="routIndex" name="routIndex" value="{{this.Index}}">
			<input type="submit" id="submitBtn" class="btn btn-default" name="indexer" value="Add Task"></input>
		</div>
		
	</form>
	<script type="text/javascript">
		$(".toHide").hide()
	</script>
</body>
</html>