<!doctype html>
<html>
   <head>
      <title>onTrack</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="/css/bootstrap.min.css" rel="stylesheet">
      <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
      <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel='stylesheet' type='text/css'>
      <link href="/css/view.css" rel="stylesheet">
      <link href="/css/topBar.css" rel="stylesheet">
      <!--<script type="text/javascript" src="viewRoutine"></script> -->
      <!-- Fonts -->
      <link href="https://fonts.googleapis.com/css?family=Roboto:100,300" rel="stylesheet">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
      <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
      <!-- Google  Analytics -->
      <script>
         (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
         (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
         m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
         })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
         
         ga('create', 'UA-135751730-1', {'cookieDomain': 'https://a9-ontrack.herokuapp.com/viewRoutine'});
         ga('send', 'pageview');
      </script>
      <!-- Google Tag Manager -->
      <script>
         (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
         new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
         j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
         'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
         })(window,document,'script','dataLayer','GTM-PD8DDSS');
      </script>
   </head>
   <body background="/images/Treat your life like a game.jpg">
      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PD8DDSS"
         height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->
      <div class="topBar">
         <a href="\loggedInB" id="backButton">back</a>
         <center>
            <h1 id="yourRoutine">View</h1>
         </center>
         <div id="backArrow">
            <img src="images/leftArrowGray.png" class="img-responsive"></img>
         </div>
         <!-- button type="button" class="saveButton" onclick="saveRoutine()">save</button -->
      </div>
      <div class="bViewForm">
         <!-- Main Top Bar -->
         {{# each Users.[0].Routines}}
         <!-- <h1>{{this.Name}}</h1> -->
         <!-- <a href="taskEditor" id="{{@index}}"><h1>{{this.Name}}</h1></a> -->
         <!-- Button trigger modal -->
         <a data-toggle="modal" href="#myModal1" class="btn btn-primary btn-lg">Edit</a>
         <!-- Modal -->
         <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
               <div class="modal-content">
                  <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                     <h4 class="modal-title">Edit {{this.Name}}</h4>
                  </div>
                  <div class="modal-body">
                     <form id="updateTasks" role="form" method='get' action='/updateTasks'>
                        <center><input id="routineInputbox" name="routName" value="{{this.Name}}"></h1></center>
                        <input type="text" class="toHide" id="editIndex" value="{{this.Index}}" name="editIndex">
                        <p id="taskLength" value="{{this.Tasks}}"></p>
                        <center>
                           {{# each Tasks}}
                           <h3 class="inputTitle">Task:</h3>
						   <input type="email" class="form__field" placeholder="Your E-Mail Address" />
			<button type="button" class="btn btn--primary btn--inside uppercase">Send</button>
                           <h3 class="inputTitle">Time:</h3>
                           <input id="editInputbox" type="number" name="tempTime" value="{{time}}"></input>
                           <div class="spaceBuffer"></div>
                           {{/each}}
                        </center>
                  </div>
                  <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="submit" id="saveChanges" name="saveTasks" class="btn btn-default" value="save">Save Changes</button>
                  </div>
                  </form>
               </div>
               <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
         </div>
         <!-- /.modal -->
         <!-- Button trigger modal -->
         <a data-toggle="modal" href="#myModal2" class="btn btn-primary btn-lg">Delete</a>
         <!-- Modal -->
         <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
               <div class="modal-content">
                  <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                     <h4 class="modal-title">Edit {{this.Name}}</h4>
                  </div>
                  <div class="modal-body">
                     <form id="deleteRoutine" role="form" method='get' action='/deleteRoutine'>
                        <div class="form-group">
                           <input type="text" class="toHide" id="routIndex" value="{{@index}}" name="routIndex">
                        </div>
                        </center>
                  </div>
                  <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="submit" id="submitBtn" name="task" class="btn btn-default" value="Delete Routine">Yes, Delete {{this.Name}}</button>
                  </div>
                  </form>
               </div>
               <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
         </div>
         <!-- /.modal -->

         <form id="deleteRoutine" role="form" method='get' action='/deleteRoutine'>
            <div class="form-group">
               <input type="text" class="toHide" id="routIndex" value="{{@index}}" name="routIndex">
            </div>
            <input type="submit" id="submitBtn" name="task" class="btn btn-default" value="Delete Routine"></input>
         </form>
         	{{# each Tasks}}
         <div class="hideThis" id="tasks">
            <div class="taskNameText">{{this.name}} ({{this.time}} min.)</div>
         </div>
         <form id="deletenow" role="form" method='get' action='/deleteTask'>
            <div class="form-group">
               <input type="text" class="toHide" id="parRout" placeholder="Description" value="{{../Index}}" name="parentRoutine"></input>
               <input type="text" class="toHide" id="taskIndex" placeholder="Description" value="{{@index}}" name="taskIndex"></input>
            </div>
            <input type="submit" id="deleteTask" name="task" class="btn btn-default" value="Delete Task"></input>
         </form>
         	{{/each}}
         <form id="modifyTask" role="form" method='get' action='/modifyTasksB'>
            <div class="form-group">
               <input type="text" class="form-control" id="curNameTask" placeholder="Enter new task..." name="tempName">
               <input id="curTimeTask" name="tempTime" class="timeInB" type="number" placeholder="min."></input>
            </div>
            <div class="form-group">
               <input type="text" class="toHide" id="routIndex" name="routIndex" value="{{this.Index}}">
               <input type="submit" id="submitBtnTask" class="btn btn-default" name="indexer" value="Add Task"></input>
            </div>
            <div id="divider"></div>
         </form> 
		 {{/each}}
         <form id="modifyRoutine" role="form" method='get' action='/modifyRoutineB'>
            <div class="form-group">
				<center>
					<input type="text" class="form__field" placeholder="Routine Name" name="tempName"/>
					<button type="submit" class="btn btn--primary btn--inside uppercase">Add</button>
				</center>
            </div>
         </form>
      </div>
      <script type="text/javascript">
         $(".toHide").hide()                                               
      </script>
   </body>
</html>