<!doctype html>

<html>
<head>
	<title>onTrack</title>	
	<meta charset="utf-8">	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/view.css" rel="stylesheet">  
	<link href="/css/topBar.css" rel="stylesheet">  
	<!--<script type="text/javascript" src="viewRoutine"></script> -->

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
	<a href="\loggedInB" id="button">back</a>
	<!-- Main Top Bar -->
	{{# each Users.[0].Routines}}
		<!-- <h1>{{this.Name}}</h1> -->
		<!-- <a href="taskEditor" id="{{@index}}"><h1>{{this.Name}}</h1></a> -->
		<form id="selectRoutine" role="form" method='get' action='/modifyExistingB'>
			<input type="text" class="toHide" id="routIndex" value="{{@index}}" name="routName">
			<input type="submit" id="submitBtn" name="rout" class="btn btn-default" value="{{this.Name}}"></input>
		</form>
		<form id="deleteRoutine" role="form" method='get' action='/deleteRoutine'>
			<div class="form-group">
		      <input type="text" class="toHide" id="routIndex" value="{{@index}}" name="routIndex">
		    </div>
			<input type="submit" id="submitBtn" name="task" class="btn btn-default" value="Delete"></input>
		</form>
		{{# each Tasks}}
			<div class="hideThis" id="tasks"> <span class="dot"></span> 
				{{this.name}} <span class="line"></span><span class="line"></span>
				<span class="line"></span><span class="line"></span> {{this.time}} min.
			</div>
			<form id="deleteRoutine" role="form" method='get' action='/deleteTask'>
			<div class="form-group">
		      <input type="text" class="toHide" id="parRout" placeholder="Description" value="{{../Index}}" name="parentRoutine">
		      <input type="text" class="toHide" id="taskIndex" placeholder="Description" value="{{@index}}" name="taskIndex">
		    </div>
			<input type="submit" id="deleteTask" name="task" class="btn btn-default" value=""></input>
			</form>

		{{/each}}
		<form id="modifyTask" role="form" method='get' action='/modifyTasksB'>
			<div class="form-group">
				<input type="text" class="form-control" id="curName" placeholder="Name" name="tempName">
				<input id="curTime" name="tempTime" class="timeIn" type="number" ></input>
				<p> <span class="min">min.</span></p>
			</div>
			<div class="form-group">
				<input type="text" class="toHide" id="routIndex" name="routIndex" value="{{this.Index}}">
				<input type="submit" id="submitBtn" class="btn btn-default" name="indexer" value="Add Task"></input>
			</div>
		</form>
	{{/each}} 
	<form id="modifyRoutine" role="form" method='get' action='/modifyRoutineB'>
		<div class="form-group">
			<input type="submit" id="submitBtn" class="btn btn-default" value="Add Routine"></input>
			<input type="text" class="form-control" id="curName" placeholder="Name" name="tempName">
		</div>
	</form>
	<script type="text/javascript">
		$(".toHide").hide()                                               
	</script>
</body>
</html>