<!doctype html>

<html>
<head>
	<title>onTrack</title>	
	<meta charset="utf-8">	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/view.css" rel="stylesheet">  
	<link href="/css/topBar.css" rel="stylesheet">  
	<!--<script type="text/javascript" src="viewRoutine"></script> -->

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300" rel="stylesheet">
</head>

<body>
	<!-- Main Top Bar -->
	<div class="topBar">
		<a href="/loggedIn" id="backButton">back</a>
		<center><h1 id="yourRoutine">View</h1></center>

		<div id="backArrow">
				<img src="images/leftArrowGray.png" class="img-responsive"></img>
		</div>
		<button type="button" class="saveButton" onclick="saveRoutine()">save</button>
	</div>

	<form id="modifyRoutine" role="form" method='get' action='/modifyRoutine'>
		<div class="routine1"><h1 class="routineTitle">Routine 1</h1>
		{{#with Routine1.[0]}}	
			<div class="Routine" id="routine2">
				<input name="nameIn0" class="nameIn" type="text" value="{{name}}"></input>
				<input name="timeIn0" class="timeIn" type="number" value="{{time}}"></input>
				<p> <span class="min">min.</span></p>
			</div>
		{{/with}}
		{{#with Routine1.[1]}}	
			<div class="Routine" id="routine2">
				<input name="nameIn1" class="nameIn" type="text" value="{{name}}"></input>
				<input name="timeIn1" class="timeIn" type="number" value="{{time}}"></input>
				<p> <span class="min">min.</span></p>
			</div>
		{{/with}}
		{{#with Routine1.[2]}}	
			<div class="Routine" id="routine2">
				<input name="nameIn2" class="nameIn" type="text" value="{{name}}"></input>
				<input name="timeIn2" class="timeIn" type="number" value="{{time}}"></input>
				<p> <span class="min">min.</span></p>
			</div>
		{{/with}}
		{{#with Routine1.[3]}}	
			<div class="Routine" id="routine2">
				<input name="nameIn3" class="nameIn" type="text" value="{{name}}"></input>
				<input name="timeIn3" class="timeIn" type="number" value="{{time}}"></input>
				<p> <span class="min">min.</span></p>
			</div>
		{{/with}}
		{{#with Routine1.[4]}}	
			<div class="Routine" id="routine2">
				<input name="nameIn4" class="nameIn" type="text" value="{{name}}"></input>
				<input name="timeIn4" class="timeIn" type="number" value="{{time}}"></input>
				<p> <span class="min">min.</span></p>
			</div>
		{{/with}}
		</div>

		<div class="routine2"><h1 class="routineTitle">Routine 2</h1>
		{{#with Routine2.[0]}}	
			<div class="Routine" id="routine2">
				<input name="nameIn5" class="nameIn" type="text" value="{{name}}"></input>
				<input name="timeIn5" class="timeIn" type="number" value="{{time}}"></input>
				<p> <span class="min">min.</span></p>
			</div>
		{{/with}}
		{{#with Routine2.[1]}}	
			<div class="Routine" id="routine2">
				<input name="nameIn6" class="nameIn" type="text" value="{{name}}"></input>
				<input name="timeIn6" class="timeIn" type="number" value="{{time}}"></input>
				<p> <span class="min">min.</span></p>
			</div>
		{{/with}}
		{{#with Routine2.[2]}}	
			<div class="Routine" id="routine2">
				<input name="nameIn7" class="nameIn" type="text" value="{{name}}"></input>
				<input name="timeIn7" class="timeIn" type="number" value="{{time}}"></input>
				<p> <span class="min">min.</span></p>
			</div>
		{{/with}}
		{{#with Routine2.[3]}}	
			<div class="Routine" id="routine2">
				<input name="nameIn8" class="nameIn" type="text" value="{{name}}"></input>
				<input name="timeIn8" class="timeIn" type="number" value="{{time}}"></input>
				<p> <span class="min">min.</span></p>
			</div>
		{{/with}}
		{{#with Routine2.[4]}}	
			<div class="Routine" id="routine2">
				<input name="nameIn9" class="nameIn" type="text" value="{{name}}"></input>
				<input name="timeIn9" class="timeIn" type="number" value="{{time}}"></input>
				<p> <span class="min">min.</span></p>
			</div>
		{{/with}}
		</div>

		<div class="routine3"><h1 class="routineTitle">Routine 3</h1>
		{{#with Routine3.[0]}}	
			<div class="Routine" id="routine2">
				<input name="nameIn10" class="nameIn" type="text" value="{{name}}"></input>
				<input name="timeIn10" class="timeIn" type="number" value="{{time}}"></input>
				<p> <span class="min">min.</span></p>
			</div>
		{{/with}}
		{{#with Routine3.[1]}}	
			<div class="Routine" id="routine2">
				<input name="nameIn11" class="nameIn" type="text" value="{{name}}"></input>
				<input name="timeIn11" class="timeIn" type="number" value="{{time}}"></input>
				<p> <span class="min">min.</span></p>
			</div>
		{{/with}}
		{{#with Routine3.[2]}}	
			<div class="Routine" id="routine2">
				<input name="nameIn12" class="nameIn" type="text" value="{{name}}"></input>
				<input name="timeIn12" class="timeIn" type="number" value="{{time}}"></input>
				<p> <span class="min">min.</span></p>
			</div>
		{{/with}}
		{{#with Routine3.[3]}}	
			<div class="Routine" id="routine2">
				<input name="nameIn13" class="nameIn" type="text" value="{{name}}"></input>
				<input name="timeIn13" class="timeIn" type="number" value="{{time}}"></input>
				<p> <span class="min">min.</span></p>
			</div>
		{{/with}}
		{{#with Routine3.[4]}}	
			<div class="Routine" id="routine2">
				<input name="nameIn14" class="nameIn" type="text" value="{{name}}"></input>
				<input name="timeIn14" class="timeIn" type="number" value="{{time}}"></input>
				<p> <span class="min">min.</span></p>
			</div>
		{{/with}}
		</div>
		<input type="submit" id="submitBtn" class="btn btn-default" value="Save"></input>
	</form>		
	</div>
</body>
</html>