<!doctype html>

<html>
<head>
	<title>onTrack</title>	
	<meta charset="utf-8">	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/view.css" rel="stylesheet">  
	<link href="/css/topBar.css" rel="stylesheet">  
	<!--<script type="text/javascript" src="viewRoutine"></script> -->

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
		
	<div class="topBar">
		<a href="\loggedInB" id="backButton">back</a>
		<center><h1 id="yourRoutine">View</h1></center>

		<div id="backArrow">
				<img src="images/leftArrowGray.png" class="img-responsive"></img>
		</div>
		<!-- button type="button" class="saveButton" onclick="saveRoutine()">save</button -->
	</div>

	<div class="bViewForm">
	<!-- Main Top Bar -->
	{{# each Users.[0].Routines}}
		<!-- <h1>{{this.Name}}</h1> -->
		<!-- <a href="taskEditor" id="{{@index}}"><h1>{{this.Name}}</h1></a> -->
		<form id="selectRoutine" role="form" method='get' action='/editTasks'>
			<input type="text" class="toHide" id="routIndex" value="{{@index}}" name="routName"></input>
			<div class="form-group">
	    		<input type="text" class="toHide" id="editIndex" placeholder="Description" value="{{@index}}" name="editIndex"></input>
	    	</div>
			<div>
				<div id="nameOfRoutineB" class="routineTitle">{{this.Name}}</p>
				<input type="submit" id="editBtnB" name="edit" class="btn btn-default" value="Edit"></input>
			</div>
			<input type="submit" id="submitBtn" name="rout" class="toHide" value="{{this.Name}}"></input>
		</form>
		<form id="deleteRoutine" role="form" method='get' action='/deleteRoutine'>
			<div class="form-group">
		      <input type="text" class="toHide" id="routIndex" value="{{@index}}" name="routIndex">
		    </div>
			<input type="submit" id="submitBtn" name="task" class="btn btn-default" value="Delete Routine"></input>
		</form>
		{{# each Tasks}}
			<div class="hideThis" id="tasks">
				<div class="taskNameText">{{this.name}} ({{this.time}} min.)</div>
			</div>
			<form id="deletenow" role="form" method='get' action='/deleteTask'>
				<div class="form-group">
		    		<input type="text" class="toHide" id="parRout" placeholder="Description" value="{{../Index}}" name="parentRoutine"></input>
		      		<input type="text" class="toHide" id="taskIndex" placeholder="Description" value="{{@index}}" name="taskIndex"></input>
		    	</div>
				<input type="submit" id="deleteTask" name="task" class="btn btn-default" value="Delete Task"></input>
			</form>
		{{/each}}
		<form id="modifyTask" role="form" method='get' action='/modifyTasksB'>
			<div class="form-group">
				<input type="text" class="form-control" id="curNameTask" placeholder="Enter new task..." name="tempName">
				<input id="curTimeTask" name="tempTime" class="timeIn" type="number" placeholder="min."></input>
			</div>
			<div class="form-group">
				<input type="text" class="toHide" id="routIndex" name="routIndex" value="{{this.Index}}">
				<input type="submit" id="submitBtnTask" class="btn btn-default" name="indexer" value="Add Task"></input>
			</div>
			<div id="divider"></div>
		</form>
	{{/each}} 
	<form id="modifyRoutine" role="form" method='get' action='/modifyRoutineB'>
		<div class="form-group">
			<input type="submit" id="submitBtnRoutine" class="btn btn-default" value="Add"></input>
			<input type="text" class="form-control" id="curNameRoutine" placeholder="Routine Name" name="tempName">
		</div>
	</form>
	</div>

	<script type="text/javascript">
		$(".toHide").hide()                                               
	</script>
</body>
</html>